.button {
    background: $blue;
    border: none;
    border-bottom: solid 3px darken($blue, 7%);
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size $l-size;
    text-decoration: none;
}

.button--link {
    background: none;
    border-bottom: none;
}

.button--login {
    margin-bottom: $s-size;
    width: 100%;
}

.button--secondary {
    background: #888888;
    border-bottom: none;
}